* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  color: #333;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

html {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

input:focus {
  outline: none;
}

#register-container {
  max-width: 1100px;
  min-height: 80vh;
  margin: 2rem auto;
  display: flex;
  box-shadow: #32325d40 0px 13px 27px -5px, #0000004d 0px 8px 16px -8px;
}

#register-banner {
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
}

#banner-layer {
  background-color: rgb(247, 206, 104, 0.4);
  height: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#register-banner h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #fff;
  letter-spacing: 0.4rem;
}

#register-form {
  background-color: #fdfdfd;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#register-form h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

#register-form p {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  color: #999;
}

.form-control {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-control input {
  border: none;
  border-bottom: 1px solid #999;
  padding: 0.6rem 0;
}

#open-generate-password {
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#open-generate-password:hover {
  color: #f88a4b;
}

#register-form #generated-password {
  border: 1px solid #f7ce68;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  display: none;
}

#register-form #generated-password p {
  color: #81d340;
  margin-bottom: 0.5rem;
}

button {
  background-color: #81d340;
  color: #fff;
  opacity: 0.8;
  border: none;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  max-width: 150px;
  cursor: pointer;
  align-self: flex-end;
  transition: 0.4s;
}

button:hover {
  opacity: 1;
}

#custom-options {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid #ddd;
}

#custom-options .form-control {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#custom-options label {
  font-size: 0.8rem;
}

#custom-options input[type="number"] {
  max-width: 30px;
  text-align: center;
  border: 1px solid #ccc;
}

#custom-options input[type="number"]::-webkit-inner-spin-button,
#custom-options input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

#custom-options button {
  background-color: #f88a4b;
  display: block;
  margin: 0 auto;
}

#copy-password {
  margin: 1rem auto;
  background-color: transparent;
  border: 1px solid #81d340;
  color: #81d340;
  padding: 0.5rem 1rem;
}

#copy-password:hover {
  background-color: #81d340;
  color: #fff;
}

.hide {
  display: none;
}
